{% extends 'magasin/base.html' %}
{% block content %} 
<style>
    table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        text-align: left;
        padding: 8px;
      }
      
      th {
        background-color: #008CBA;
        color: white;
      }
      
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      
      tr:hover {
        background-color: #ddd;
      }
    </style>      
 <div class="col-md-12 text-center">
 <h2>List Fournisseur</h2>
 </div> 

 
 <table border="2">
    {% for article in list %}
    <tr>
        <td>{{article.nom}} </td>
        <td>{{article.adresse}} </td>
        <td>{{article.email}} </td>
        <td>{{article.telephone}} </td> 
    </tr>
    {% endfor %}
</table>
{% endblock %}